@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
.navbar-brand h2 {
  font-size: 2rem;
}
@media (max-width: 576px) {
  .navbar-brand h2 {
    font-size: 1rem; 
  }
}
body{
	font-family: "Source Serif 4", serif;
	background-color: #DFE056;
}
.tit{
	font-family: "Calistoga", serif;
	background-color: aqua;
}
h1{
  
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}
h2, h3{
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}
h4{
	font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
	color:white;
}
a{
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.container-fluid.pie{
	padding: 20px 20px 0px 20px;
}
.img-comp-container {
  position: relative; /* Necesario para la comparación */
  width: 100%; /* Ocupa todo el ancho disponible */
  height: auto; /* Calcula la altura automáticamente */
}
.img-comp-img {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-comp-img img {
  width: 100%; /* Ajusta al ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  display: block; /* Elimina espacios extra alrededor de imágenes */
}
.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: white;
  opacity: 0.7;
  border-radius: 50%;
}
#regForm {
  background-color: #DFE056;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family:"Source Serif 4", serif;
  border: none;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #EAE89D;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #333C84;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #333C84;
}
#regForm .d-flex.justify-content-between.mt-3 #nextBtn {
	background-color: #313C86;
}

.seccion_1{
	height: 500px;
}.animate__animated {
}
.animate__zoomIn {
}
